header {
background-color: rgb(70, 87, 133);
color:white;
display: flex;
justify-content: space-around;
}

.cabeçalho-imagem{
width: 20%;
}

.cabeçalho-imagem{
    display: inline block;
    margin:0 ;
}